__pycache__/
*.py[cod]
/output/
/input/*
!/input/file_goes_here
/temp/*
!/temp/temp_goes_here
/custom_nodes/*
!/custom_nodes/example_custom_node_file.py
!/custom_nodes/example_custom_node_folder/
extra_model_paths.yaml
/.vs
.vscode/
.idea/
venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
/user/*
*.log
web_custom_versions/
.DS_Store
.pytest_cache
.pytest_cache/
