__pycache__/
*.py[cod]
/output/
/input/*
!/input/file_goes_here
/temp/*
!/temp/temp_goes_here
/user_defined_functions/*
!/user_defined_functions/example_udf_file.py
!/user_defined_functions/example_udf_folder/
/.vs
.vscode/
.idea/
venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
/user/*
*.log
web_custom_versions/
.DS_Store
.pytest_cache
.pytest_cache/
!infinite_loop.py
